.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

.evidence{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
}

.query{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
}

.err{
	color: red;
}

.kind{
	font-size: 16px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.vertical_slider {
	width: 10px;
	height: 300px;
	margin-left: 35px;
	margin-right: 35px
}

.bin_label{
	text-align: center;
}

.slider {
	width: 600;
	margin: 10px;
}

.question0{
    font-size: 24px;
    text-align: justify;
    margin-left: 60px;
    margin-right: 100px
}

.instruction_text{
	text-align: justify;
    margin-left: 60px;
    margin-right: 100px
}